# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# Ruby
*.gem
.ruby-version

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*~

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
